# Generate Data

In [24]:
import numpy as np
import pandas as pd
import os

In [1]:
fldr = "data_temp/raw"
os.makedirs(fldr, exist_ok=True)

n = 30
df0 = pd.DataFrame({'Station': ['A1'] * n,
                    'Date': pd.date_range(start='2020-01-01', periods=n),
                    'Temperature_avg': np.random.randint(low=10, high=25, size=n),
                    'Extra': [1.0] * n})
df0.to_csv(os.path.join(fldr, "file0.csv"), index=False)

df1 = pd.DataFrame({'DATE': pd.date_range(start='2020-01-01', periods=n),
                    'TEMPERATURE_AVG': np.random.uniform(low=5.5, high=33.6, size=n),
                    'IS_CLOUDY':np.random.choice([True, False],size=n),
                    'STATION': ['A2'] * n})

df1['TEMPERATURE_MAX'] = df1["TEMPERATURE_AVG"] + 1

df1.to_csv(os.path.join(fldr, "file1.csv"), index=False)

df2 = pd.DataFrame({'Station  ': ['A3'] * n,
                    'Date ': pd.date_range(start='2020-01-01', periods=n),
                    '  Temperature_avg': np.random.randint(low=0, high=12, size=n),
                    'Extra': ['Fine'] * n})
df2.to_csv(os.path.join(fldr, "file2.csv"), index=False)

NameError: name 'os' is not defined

In [118]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             30 non-null     datetime64[ns]
 1   TEMPERATURE_AVG  30 non-null     float64
 2   IS_CLOUDY        30 non-null     bool
 3   STATION          30 non-null     object
 4   TEMPERATURE_MAX  30 non-null     float64
dtypes: bool(1), datetime64[ns](1), float64(2), object(1)
memory usage: 1.1+ KB

In [119]:
pd.read_csv(os.path.join(fldr, "file1.csv")).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             30 non-null     object
 1   TEMPERATURE_AVG  30 non-null     float64
 2   IS_CLOUDY        30 non-null     bool
 3   STATION          30 non-null     object
 4   TEMPERATURE_MAX  30 non-null     float64
dtypes: bool(1), float64(2), object(2)
memory usage: 1.1+ KB

In [120]:
fns = [os.path.join(fldr, fn) for fn in os.listdir(fldr)]

To do for each file
* column names to lowercase
* remove leading and trailing spaces from column names
* extract dtypes

In [121]:
fn = fns[0]
df = pd.read_csv(fn)

In [111]:
df.columns = [col.lower().lstrip().rstrip() for col in df.columns]

In [112]:
name = os.path.basename(fn)
df.dtypes.astype(str).to_frame(name=name)

                file2.csv
station            object
date               object
temperature_avg     int64
extra              object

In [122]:
def extract_dtypes(fn):
    df = pd.read_csv(fn)
    df.columns = [col.lower().lstrip().rstrip()
                  for col in df.columns]
    
    name = os.path.basename(fn)
    dtypes = df.dtypes\
               .astype(str)\
               .to_frame(name=name)
    return dtypes

In [123]:
types = [] 
for fn in fns:
    types.append(extract_dtypes(fn))
types = pd.concat(types, axis=1)

In [124]:
types

                file2.csv file1.csv file0.csv
station            object    object    object
date               object    object    object
temperature_avg     int64   float64     int64
extra              object       NaN   float64
is_cloudy             NaN      bool       NaN
temperature_max       NaN   float64       NaN

In [63]:
def pick_dtype(row):
    if 'object' in row.values:
        return 'object'
    elif 'float64' in row.values:
        return 'float64'
    elif 'int64' in row.values:
        return 'int64'
    elif 'bool' in row.values:
        'float64'
    else:
        return 'object'

In [64]:
types.apply(pick_dtype, axis=1)

station             object
date                object
temperature_avg    float64
is_cloudy             None
temperature_max    float64
dtype: object

In [65]:
mask = types.apply(lambda row: (row.values[0] == row.values).all(), axis=1)

In [70]:
types[~mask]

                file2.csv file1.csv file0.csv
temperature_avg     int64   float64     int64
is_cloudy             NaN      bool       NaN
temperature_max       NaN   float64       NaN

In [75]:
np.isnan(types[~mask].iloc[1]["file2.csv"])

True

In [126]:
types

                file2.csv file1.csv file0.csv
station            object    object    object
date               object    object    object
temperature_avg     int64   float64     int64
extra              object       NaN   float64
is_cloudy             NaN      bool       NaN
temperature_max       NaN   float64       NaN

In [128]:
types.iloc[0].nunique()

1

In [149]:
row = types.iloc[3]

In [153]:
'object' in row[row.notnull()].unique()

True

In [140]:
row.notnull().all() and (row.nunique() == 1)

True

In [159]:
def pick_dtypes(row):
    if row.notnull().all() and (row.nunique() == 1):
        return row[0]
    else:
        if 'object' in row[row.notnull()].unique():
            return 'object'
        else:
            return 'float64'

In [160]:
dtypes.apply(pick_dtypes, axis=1).to_dict()

{'station': 'object',
 'date': 'object',
 'temperature_avg': 'float64',
 'extra': 'object',
 'is_cloudy': 'float64',
 'temperature_max': 'float64'}

In [169]:
dtypes_dict = types.apply(pick_dtypes, axis=1).to_dict()

In [163]:
pd.DataFrame({"date":["2020-01-01",]})["date"]

0   2020-01-01
1          NaT
Name: date, dtype: datetime64[ns]

In [102]:
np.isnan(row.values, coerce)

SyntaxError: invalid syntax (<ipython-input-102-35880be46f80>, line 1)

In [82]:
def pick_dtype(row):
    if (row.values[0] == row.values).all():
        return row.values[0]
    elif

In [83]:
types.apply(pick_dtype, axis=1)

station            object
date               object
temperature_avg      None
is_cloudy            None
temperature_max      None
dtype: object

In [165]:
df = pd.read_csv(fn)

In [171]:
for k, v in dtypes_dict.items():
    if k not in df.columns:
        if v == 'object':
            df[k] = ""
        else:
            df[k] = np.nan

In [177]:
df = df[dtypes_dict.keys()]

In [184]:
df["date2"] = df["date"].copy()

In [187]:
isinstance("date", str)

True

In [191]:
isinstance(np.array([2,3]) ,(list,np.ndarray))

True

In [193]:
len(dtypes_dict)

6